<project name="Assistance" ID="14AC07521C42XGH39WOUJM8UQU697V8XIMNB" version="docear 1.0">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://14AC07521C42XGH39WOUJM8UQU697V8XIMNB/_data/14AC07521C42XGH39WOUJM8UQU697V8XIMNB/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://14AC07521C42XGH39WOUJM8UQU697V8XIMNB/_data/14AC07521C42XGH39WOUJM8UQU697V8XIMNB/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://14AC07521C42XGH39WOUJM8UQU697V8XIMNB/_data/14AC07521C42XGH39WOUJM8UQU697V8XIMNB/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://14AC07521C42XGH39WOUJM8UQU697V8XIMNB/_data/14AC07521C42XGH39WOUJM8UQU697V8XIMNB/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="Library" path="project://14AC07521C42XGH39WOUJM8UQU697V8XIMNB/../../@Academy/Library/"/>
</folder>
<link type="references" name="References" path="project://14AC07521C42XGH39WOUJM8UQU697V8XIMNB/Documentation/AssistanceReferencias.bib" system="true"/>
</project>
